.container{

}

.logincard {
    display: inline-block;
   
    border-radius: 20px;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
}

.my{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 20%;
    padding: 150px 500px 150px 0px;
}

#myvideo{
   position: fixed;
   /* margin-top: 5000000px; */
    /* margin-top:99900000px;  */
 filter: blur(2px);
  min-width: 100%;
  min-height: 100%;
}
/* style="z-index: -1;" */